{{- define "definition_field_type" -}}
      {{- if .IsPrimitive }}
        {{.PrefixSpace}}type: {{.SwaggerType}}
      {{- else if .IsReference }}
        {{.PrefixSpace}}$ref: '#/definitions/{{.SwaggerType}}'
      {{- else if .IsMap }}
        {{.PrefixSpace}}type: object
        {{.PrefixSpace}}additionalProperties:
      {{- end}}
      {{- if .IsMap}}
        {{- template "definition_field_type" .ItemSpec -}}
      {{- else if eq .SwaggerType "array"}}
        {{.PrefixSpace}}items:
         {{- template "definition_field_type" .ItemSpec -}}
      {{- end }}
      {{- if .HasFormat }}
        {{.PrefixSpace}}format: {{.Format}}
      {{- end}}
      {{- if .Pointer }}
        {{.PrefixSpace}}x-nullable: true
      {{- end}}
{{- end }}



{{define "definition" }}
definitions:
{{- range .Definitions }}
  {{ .ModelName}}:
    properties:
      {{- range  .Properties}}
      {{.Name}}:
        {{- template "definition_field_type" . -}}
      {{- end}}
{{ end}}

{{ end}}






























